Source: ros-kinetic-ubiquity-motor
Section: misc
Priority: extra
Maintainer: Rohan Agrawal <rohan@aleopile.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-dynamic-reconfigure, ros-kinetic-geometry-msgs, ros-kinetic-hardware-interface, ros-kinetic-nav-msgs, ros-kinetic-roscpp, ros-kinetic-rostest, ros-kinetic-serial, ros-kinetic-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-ubiquity-motor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-diff-drive-controller, ros-kinetic-dynamic-reconfigure, ros-kinetic-geometry-msgs, ros-kinetic-hardware-interface, ros-kinetic-joint-state-controller, ros-kinetic-nav-msgs, ros-kinetic-serial, ros-kinetic-tf
Description: Provides a ROS interface to Ubiquity Robotics Magni motor controllers
